body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
<<<<<<< HEAD
  background-color: #f4f4f4;
=======
  background-color: #fff;
>>>>>>> f511b76bf671016aedc4f6b91d4b0c01bdecc13d
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #6495ed;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.h3 {
  float: left;
  margin: 5;
  font-size: 15px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;

}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;
}

nav a:hover::before {
  width: 100%;

  transition: all ease-in-out 250ms;
}

/* HEADER DONE */

.wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    width: 100%;
    background-color: #222;
    padding: 20px 0;
    text-align: center;
    position: absolute;
}

/* BOXES */


.event1, .event2, .event3, .event4 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.event1 {
  background-image: url('../img/activities1.jpeg');
  min-height: 100%;
}

.event2 {
  background-image: url(../img/activities2.jpeg);
  min-height: 100%;
}

.event3 {
    background-image: url(../img/activities3.jpg);
    min-height: 100%;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

@media(max-width: 568px) {
  .pimg1 .pimg2 .pimg3 {
    background-attachment: scroll;
  }
}

@media(max-width: 1450px) {
    nav a {
        font-size: 12px;
    }
}

@media(max-width: 1300px) {
    nav a {
        font-size: 11px;
    }
}
