body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  background-color: #f4f4f4;
}

/* HEADER */ 

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #6495ed;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.h3 {
  float: left;
  margin: 5;
  font-size: 15px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;

}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;
}

nav a:hover::before {
  width: 100%;

  transition: all ease-in-out 250ms;
}
/* PLACEHOLDERS */

img {
    height: 300px;
    width: 500px;
}



.right {
    background-image: url(../img/weatherleft1.jpg);
    width: 51%;
    position: absolute;
    right: 0px;
    height: 94%;
    background-repeat: no-repeat;
}

.left {
    width: 49%;
    position: absolute;
    left: 0px;
    height: 94%;
    padding: 5px;
}

@media(max-width: 1450px) {
    nav a {
        font-size: 12px;
    }
}

@media(max-width: 1300px) {
    nav a {
        font-size: 11px;
    }
}

